/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

   /* Variables */
   :root {
    /* Primary */
    --very-dark-blue: hsl(233, 47%, 7%); /* main background */
    --dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
    --soft-violet: hsl(277, 64%, 61%); /* accent */
    /* Neutral */
    --white: hsl(0, 0%, 100%); /* main heading, stats */
    --slightly-transparent-white-75: hsla(0, 0%, 100%, 0.75); /* main paragraph */
    --slightly-transparent-white-60: hsla(0, 0%, 100%, 0.6); /* stat headings */
  }

  body {
    background-color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
  }

  .card {
    background-color: var(--dark-desaturated-blue);
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "text photo";
    overflow: hidden;
    border-radius: 1rem;
    margin: 0 5rem;
  }

  .card-left {
    grid-area: text;
    display: grid;
    gap: 1.5rem;
    padding: 3.5rem;
    max-width: 85%;
  }

  h1, .stats-number {
    font-weight: 700;
    color: var(--white);
  }

  h1 {
    font-size: 1.8rem;
  }

  h1 span {
    color: var(--soft-violet);
  }

  p {
    color: var(--slightly-transparent-white-75);
  }

  .description {
    padding-bottom: 2rem;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .stats-number {
    font-size: 1.4rem;
    padding-bottom: 5px;
  }

  .stats-text {
    text-transform: uppercase;
    font-size: 0.65rem;
    font-family: "Lexend Deca", sans-serif;
    color: var(--slightly-transparent-white-60);
  }

  picture, img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  img {
    mix-blend-mode: multiply;
    opacity: 0.75;
  }

  .img-overlay {
    grid-area: photo;
    background-color: var(--soft-violet);
  }

  @media only screen and (max-width: 580px) {
    .card {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "photo"
        "text";
    }

    .card-left {
        text-align: center;   
        margin: auto;
    }

    h1 {
        font-size: 1.6rem;
    }

    .description {
        padding-bottom: 0;
        font-size: 0.9rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }
  }
