/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

   /* Variables */
   :root {
    /* Primary */
    --very-dark-blue: hsl(233, 47%, 7%); /* main background */
    --dark-desaturated-blue: hsl(244, 38%, 16%); /* card background */
    --soft-violet: hsl(277, 64%, 61%); /* accent */
    /* Neutral */
    --white: hsl(0, 0%, 100%); /* main heading, stats */
    --slightly-transparent-white-75: hsla(0, 0%, 100%, 0.75); /* main paragraph */
    --slightly-transparent-white-60: hsla(0, 0%, 100%, 0.6); /* stat headings */
  }


  h1 {
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
  }